* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}
main {
  margin-top: 50px;
}

#people-choice > div {
  font-size: 150px;
  cursor: pointer;
}

p {
  font-size: 25px;
  text-align: center;
  margin-top: -30px;
  font-weight: bolder;
  margin-left: 10px;
  border: 3px solid grey;
  border-radius: 8px;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}

#svgScissors {
  color: royalblue;
}

#svgRock {
  color: darkgreen;
}

#svgPaper {
  color: rebeccapurple;
}

#result {
  border-radius: 10px;
  border: solid grey;
  width: 500px;
  height: 200px;
}

#result > h1 {
  text-align: center;
}

#showResult {
  margin: auto;
  margin-top: 20px;
  font-size: 35px;
  color: red;
  font-weight: bolder;
}

#pc-res,
#u-res {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
